<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>About</title>
</head>
<body>
<div class="center">
    <h1>About</h1>
    <p>
        This is a personal website I started in December 2022; It is being made solely by me using Django/Python and
        is a work in progress, so there will be frequent updates to the site as my changes are pushed to the live
        version. If you have any questions/comments/suggestions or notice some errors, please feel free to reach out to
        me in the contact section, as I am still a bit new to website building.
    </p>
</div>
</body>
</html>