<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
</head>
<body>
{% include 'common/navbar.html' %}
<div class="center">
    <h1 class="page-title">About</h1>
    <p>
        I started this personal website in December 2022 to have a centralized location for
        all of my school and personal projects, as well as demonstrate my proficiency with Django and
        HTML/CSS. It was designed and created entirely by me.
    </p>
</div>
</body>
</html>