<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Artwork</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
</head>
<body>
<div class="center">
    <h1>Artwork</h1>
    <h2>Popsicle Stick Building Replicas</h2>
    <img src="/static/img/all1.jpg" height=25% width=25% alt="Buildings">
    <img src="/static/img/all2.jpg" height=25% width=25% alt="Buildings">
    <p>
        These are 1/1000th scale replicas of famous buildings/landmarks around the world. All buildings are made exclusively
        out of popsicle sticks, chopsticks, corks, and held together with hot glue.
    </p>
    <h3>Shanghai</h3>
    <p><i>Includes: Shanghai World Financial Centre, Shanghai Tower, and  Oriental Pearl</i></p>
    <img src="/static/img/shanghai.jpeg" height=25% width=25% alt="Buildings">
    <h3>Singapore</h3>
    <p><i>Includes: Marina Bay Sands, Oasia Hotel</i></p>
    <img src="/static/img/singapore.jpeg" height=25% width=25% alt="Buildings">
    <h3>Taipei</h3>
    <p><i>Includes: Taipei 101</i></p>
    <img src="/static/img/taipei.jpeg" height=25% width=25% alt="Buildings">
    <h3>New York City</h3>
    <h2>Midtown</h2>
    <p><i>Includes: Rockefeller Center, Flatiron Building, Empire State Building, 1 Times Square, H&M Building,
    Grace Building, Bank of America Tower</i></p>
    <img src="/static/img/midtown.jpeg" height=25% width=25% alt="Buildings">
    <h2>Midtown West</h2>
    <p><i>Includes: Edge, 10 Hudson Yards, New York Times Building, Via57 West</i></p>
    <img src="/static/img/midtownwest.jpeg" height=25% width=25% alt="Buildings">
    <h2>Midtown East</h2>
    <p><i>Includes: Chrysler Building, 1 Vanderbilt (Summit), United Nations Headquarters, View34, Citicorp
    Building, American Copper Buildings</i></p>
    <img src="/static/img/midtowneast.jpeg" height=25% width=25% alt="Buildings">
    <h2>Downtown</h2>
    <img src="/static/img/downtown.jpeg" height=25% width=25% alt="Buildings">
    <h2>Old World Trade Center</h2>
    <p><i>Includes: Twin Towers (1 & 2 WTC), 3, 4, 5, 6, and 7 WTC</i></p>
    <img src="/static/img/oldwtc1.jpg" height=25% width=25% alt="Buildings">
    <img src="/static/img/oldwtc2.jpg" height=25% width=25% alt="Buildings">
    <h2>New World Trade Center</h2>
    <p><i>Includes: Freedom Tower (One World Trade Center), 2 (Foster design), 3, 4, and 7 WTC</i></p>
    <img src="/static/img/newwtc1.jpg" height=25% width=25% alt="Buildings">
    <img src="/static/img/newwtc2.jpg" height=25% width=25% alt="Buildings">
    <h2>Uptown</h2>
    <p><i>Includes: Central Park Tower, Steinway Tower, 432 Park Avenue</i></p>
    <img src="/static/img/billionairesrow.jpeg" height=25% width=25% alt="Buildings">
    <h3>San Francisco & Chicago</h3>
    <p><i>Includes: Transamerica Pyramid and Willis (Sears) Tower</i></p>
    <img src="/static/img/sfchicago.jpeg" height=25% width=25% alt="Buildings">
</div>
</body>
</html>