<!DOCTYPE html>
{% load static %}
<html lang='en-us'>
<meta name='viewport' content='width=device-width,initial-scale=1.0'>
<head>
  <title>Tournament Bracket</title>
  <link id="styles" rel="stylesheet" href="{% static 'portfolio/team8.css' %}" data-team8="{% static 'portfolio/team8.css' %}" data-team16="{% static 'portfolio/team16.css' %}" data-team32="{% static 'portfolio/team32.css' %}" data-team64="{% static 'portfolio/team64.css' %}">
  <link rel="icon" href="{% static 'img/brackfav.png' %}">
  <style>
    body{
      background-image: url({% static 'img/brackback.jpeg' %});
      height: 100%;
      background-repeat: repeat;
      background-position: center;
      background-size: cover;
    }
    .heading{
      color: yellow;
      font-size: 40px;
      text-align: center;
    }
    .cent{
      text-align: center;
    }
    .hidden{
      display: none;
    }
    button{
      background-color: red;
      color: white;
      border-radius: 20px;
      height: 35px;
      width: 150px;
      font-size: medium;
    }
    button:hover{
      background-color: darkred;
    }
    input{
      width: 250px;
      padding-left: 7px;
      border-radius: 10px;
      text-align: center;
    }
    input:hover{
      border: 2px solid aqua;
    }
  </style>
</head>
<body>
  <div class="cent">
    <h1 style="color:white">Tournament Bracket</h1>
    <select style="text-align:center;border-radius:10px;width:100px" id="screenselector">
      <option disabled selected>Select #</option>
      <option value="screen1">8 Teams</option>
      <option value="screen2">16 Teams</option>
      <option value="screen3">32 Teams</option>
      <option value="screen4">64 Teams</option>
    </select>
  </div>
    <div id="screen1" class="hidden">
      <div class="cent">
        <h2 style="color:white">8 Teams</h2>
        <input type='text' id='enternames8' value='' placeholder="team1 team2 team3..."><br><br>
        <button onclick='enterinput(0)'>Assign to Bracket</button>
        <button onclick='enterinput(1)'>Randomize Seeds</button><br><br>
        <div class="heading" id="winnermessage8">
          <h1></h1>
        </div>
      </div>
      <div class="box t1 round r32h1" id="round2first8" onclick="colc(this,document.getElementById('round2second8'),document.getElementById('round3-1-8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="box t2 round r32h2" id="round2second8" onclick="colc(this,document.getElementById('round2first8'),document.getElementById('round3-1-8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="box t3 round r32h3" id="round2third8" onclick="colc(this,document.getElementById('round2fourth8'),document.getElementById('round3-2-8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="box t4 round r32h4" id="round2fourth8" onclick="colc(this,document.getElementById('round2third8'),document.getElementById('round3-2-8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="box t5 round r32h5" id="round2fifth8" onclick="colc(this,document.getElementById('round2sixth8'),document.getElementById('round3-3-8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="box t6 round r32h6" id="round2sixth8" onclick="colc(this,document.getElementById('round2fifth8'),document.getElementById('round3-3-8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="box t7 round r32h7" id="round2seventh8" onclick="colc(this,document.getElementById('round2eighth8'),document.getElementById('round3-4-8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="box t8 round r32h8" id="round2eighth8" onclick="colc(this,document.getElementById('round2seventh8'),document.getElementById('round3-4-8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="box s1 round r16h1" id="round3-1-8" onclick="colc(this,document.getElementById('round3-2-8'),document.getElementById('quarter1-8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="box s2 round r16h2" id="round3-2-8" onclick="colc(this,document.getElementById('round3-1-8'),document.getElementById('quarter1-8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="box s3 round r16h3" id="round3-3-8" onclick="colc(this,document.getElementById('round3-4-8'),document.getElementById('quarter2-8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="box s4 round r16h4" id="round3-4-8" onclick="colc(this,document.getElementById('round3-3-8'),document.getElementById('quarter2-8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="box q1 round qh1" id="quarter1-8" onclick="colc(this,document.getElementById('quarter2-8'),document.getElementById('final8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="box q2 round qh2" id="quarter2-8" onclick="colc(this,document.getElementById('quarter1-8'),document.getElementById('final8'))">
        <div class="namefield">

        </div>
      </div>
      <div class="bin fin round sfh1" id="final8" onclick="winner(this,document.getElementById('winnermessage8'))">
        <div class="namefield">

        </div>
      </div>
    </div>










  <div id="screen2" class="hidden">
    <div class="cent">
        <h2 style="color:white">16 Teams</h2>
        <input type='text' id='enternames16' value='' placeholder="team1 team2 team3..."><br><br>
        <button onclick='enterinput(0)'>Assign to Bracket</button>
        <button onclick='enterinput(1)'>Randomize Seeds</button><br><br>
        <div class="heading" id="winnermessage16">
          <h1></h1>
        </div>
      </div>
    <div class="box one" id="first-16" onclick="colc(this,document.getElementById('second-16'),document.getElementById('round2first-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box two" id="second-16" onclick="colc(this,document.getElementById('first-16'),document.getElementById('round2first-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box three" id="third-16" onclick="colc(this,document.getElementById('fourth-16'),document.getElementById('round2second-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box four" id="fourth-16" onclick="colc(this,document.getElementById('third-16'),document.getElementById('round2second-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box five" id="fifth-16" onclick="colc(this,document.getElementById('sixth-16'),document.getElementById('round2third-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box six" id="sixth-16" onclick="colc(this,document.getElementById('fifth-16'),document.getElementById('round2third-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box seven" id="seventh-16" onclick="colc(this,document.getElementById('eighth-16'),document.getElementById('round2fourth-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box eight" id="eighth-16" onclick="colc(this,document.getElementById('seventh-16'),document.getElementById('round2fourth-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box nine" id="ninth-16" onclick="colc(this,document.getElementById('tenth-16'),document.getElementById('round2fifth-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box ten" id="tenth-16" onclick="colc(this,document.getElementById('ninth-16'),document.getElementById('round2fifth-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box eleven" id="eleventh-16" onclick="colc(this,document.getElementById('twelfth-16'),document.getElementById('round2sixth-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twelve" id="twelfth-16" onclick="colc(this,document.getElementById('eleventh-16'),document.getElementById('round2sixth-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirteen" id="thirteenth-16" onclick="colc(this,document.getElementById('fourteenth-16'),document.getElementById('round2seventh-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fourteen" id="fourteenth-16" onclick="colc(this,document.getElementById('thirteenth-16'),document.getElementById('round2seventh-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fifteen" id="fifteenth-16" onclick="colc(this,document.getElementById('sixteenth-16'),document.getElementById('round2eighth-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sixteen" id="sixteenth-16" onclick="colc(this,document.getElementById('fifteenth-16'),document.getElementById('round2eighth-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t1 round r32h1" id="round2first-16" onclick="colc(this,document.getElementById('round2second-16'),document.getElementById('round3-1-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t2 round r32h2" id="round2second-16" onclick="colc(this,document.getElementById('round2first-16'),document.getElementById('round3-1-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t3 round r32h3" id="round2third-16" onclick="colc(this,document.getElementById('round2fourth-16'),document.getElementById('round3-2-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t4 round r32h4" id="round2fourth-16" onclick="colc(this,document.getElementById('round2third-16'),document.getElementById('round3-2-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t5 round r32h5" id="round2fifth-16" onclick="colc(this,document.getElementById('round2sixth-16'),document.getElementById('round3-3-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t6 round r32h6" id="round2sixth-16" onclick="colc(this,document.getElementById('round2fifth-16'),document.getElementById('round3-3-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t7 round r32h7" id="round2seventh-16" onclick="colc(this,document.getElementById('round2eighth-16'),document.getElementById('round3-4-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t8 round r32h8" id="round2eighth-16" onclick="colc(this,document.getElementById('round2seventh-16'),document.getElementById('round3-4-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s1 round r16h1" id="round3-1-16" onclick="colc(this,document.getElementById('round3-2-16'),document.getElementById('quarter1-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s2 round r16h2" id="round3-2-16" onclick="colc(this,document.getElementById('round3-1-16'),document.getElementById('quarter1-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s3 round r16h3" id="round3-3-16" onclick="colc(this,document.getElementById('round3-4-16'),document.getElementById('quarter2-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s4 round r16h4" id="round3-4-16" onclick="colc(this,document.getElementById('round3-3-16'),document.getElementById('quarter2-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q1 round qh1" id="quarter1-16" onclick="colc(this,document.getElementById('quarter2-16'),document.getElementById('final-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q2 round qh2" id="quarter2-16" onclick="colc(this,document.getElementById('quarter1-16'),document.getElementById('final-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="bin fin round sfh1" id="final-16" onclick="winner(this,document.getElementById('winnermessage16'))">
      <div class="namefield">

      </div>
    </div>
  </div>








  <div id="screen3" class="hidden">
    <div class="cent">
      <h2 style="color:white">32 Teams</h2>
      <input type='text' id='enternames32' value='' placeholder="team1 team2 team3..."><br><br>
      <button onclick='enterinput(0)'>Assign to Bracket</button>
      <button onclick='enterinput(1)'>Randomize Seeds</button><br><br>
      <div class="heading" id="winnermessage32">
        <h1></h1>
      </div>
    </div>
    <div class="box one" id="first-32" onclick="colc(this,document.getElementById('second-32'),document.getElementById('round2first-32'))">
    <div class="namefield">

    </div>
    </div>
    <div class="box two" id="second-32" onclick="colc(this,document.getElementById('first-32'),document.getElementById('round2first-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box three" id="third-32" onclick="colc(this,document.getElementById('fourth-32'),document.getElementById('round2second-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box four" id="fourth-32" onclick="colc(this,document.getElementById('third-32'),document.getElementById('round2second-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box five" id="fifth-32" onclick="colc(this,document.getElementById('sixth-32'),document.getElementById('round2third-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box six" id="sixth-32" onclick="colc(this,document.getElementById('fifth-32'),document.getElementById('round2third-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box seven" id="seventh-32" onclick="colc(this,document.getElementById('eighth-32'),document.getElementById('round2fourth-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box eight" id="eighth-32" onclick="colc(this,document.getElementById('seventh-32'),document.getElementById('round2fourth-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box nine" id="ninth-32" onclick="colc(this,document.getElementById('tenth-32'),document.getElementById('round2fifth-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box ten" id="tenth-32" onclick="colc(this,document.getElementById('ninth-32'),document.getElementById('round2fifth-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box eleven" id="eleventh-32" onclick="colc(this,document.getElementById('twelfth-32'),document.getElementById('round2sixth-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twelve" id="twelfth-32" onclick="colc(this,document.getElementById('eleventh-32'),document.getElementById('round2sixth-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirteen" id="thirteenth-32" onclick="colc(this,document.getElementById('fourteenth-32'),document.getElementById('round2seventh-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fourteen" id="fourteenth-32" onclick="colc(this,document.getElementById('thirteenth-32'),document.getElementById('round2seventh-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fifteen" id="fifteenth-32" onclick="colc(this,document.getElementById('sixteenth-32'),document.getElementById('round2eighth-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sixteen" id="sixteenth-32" onclick="colc(this,document.getElementById('fifteenth-32'),document.getElementById('round2eighth-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box seventeen" id="seventeenth-32" onclick="colc(this,document.getElementById('eighteenth-32'),document.getElementById('round2ninth-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box eighteen" id="eighteenth-32" onclick="colc(this,document.getElementById('seventeenth-32'),document.getElementById('round2ninth-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box nineteen" id="nineteenth-32" onclick="colc(this,document.getElementById('twentieth-32'),document.getElementById('round2-10-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twenty" id="twentieth-32" onclick="colc(this,document.getElementById('nineteenth-32'),document.getElementById('round2-10-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentyone" id="twenty1-32" onclick="colc(this,document.getElementById('twenty2-32'),document.getElementById('round2-11-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentytwo" id="twenty2-32" onclick="colc(this,document.getElementById('twenty1-32'),document.getElementById('round2-11-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentythree" id="twenty3-32" onclick="colc(this,document.getElementById('twenty4-32'),document.getElementById('round2-12-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentyfour" id="twenty4-32" onclick="colc(this,document.getElementById('twenty3-32'),document.getElementById('round2-12-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentyfive" id="twenty5-32" onclick="colc(this,document.getElementById('twenty6-32'),document.getElementById('round2-13-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentysix" id="twenty6-32" onclick="colc(this,document.getElementById('twenty5-32'),document.getElementById('round2-13-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentyseven" id="twenty7-32" onclick="colc(this,document.getElementById('twenty8-32'),document.getElementById('round2-14-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentyeight" id="twenty8-32" onclick="colc(this,document.getElementById('twenty7-32'),document.getElementById('round2-14-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentynine" id="twenty9-32" onclick="colc(this,document.getElementById('thirty0-32'),document.getElementById('round2-15-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirty" id="thirty0-32" onclick="colc(this,document.getElementById('twenty9-32'),document.getElementById('round2-15-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirtyone" id="thirty1-32" onclick="colc(this,document.getElementById('thirty2-32'),document.getElementById('round2-16-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirtytwo" id="thirty2-32" onclick="colc(this,document.getElementById('thirty1-32'),document.getElementById('round2-16-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t1 round r32h1" id="round2first-32" onclick="colc(this,document.getElementById('round2second-32'),document.getElementById('round3-1-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t2 round r32h2" id="round2second-32" onclick="colc(this,document.getElementById('round2first-32'),document.getElementById('round3-1-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t3 round r32h3" id="round2third-32" onclick="colc(this,document.getElementById('round2fourth-32'),document.getElementById('round3-2-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t4 round r32h4" id="round2fourth-32" onclick="colc(this,document.getElementById('round2third-32'),document.getElementById('round3-2-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t5 round r32h5" id="round2fifth-32" onclick="colc(this,document.getElementById('round2sixth-32'),document.getElementById('round3-3-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t6 round r32h6" id="round2sixth-32" onclick="colc(this,document.getElementById('round2fifth-32'),document.getElementById('round3-3-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t7 round r32h7" id="round2seventh-32" onclick="colc(this,document.getElementById('round2eighth-32'),document.getElementById('round3-4-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t8 round r32h8" id="round2eighth-32" onclick="colc(this,document.getElementById('round2seventh-32'),document.getElementById('round3-4-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t9 round r32h1" id="round2ninth-32" onclick="colc(this,document.getElementById('round2-10-32'),document.getElementById('round3-5-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t10 round r32h2" id="round2-10-32" onclick="colc(this,document.getElementById('round2ninth-32'),document.getElementById('round3-5-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t11 round r32h3" id="round2-11-32" onclick="colc(this,document.getElementById('round2-12-32'),document.getElementById('round3-6-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t12 round r32h4" id="round2-12-32" onclick="colc(this,document.getElementById('round2-11-32'),document.getElementById('round3-6-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t13 round r32h5" id="round2-13-32" onclick="colc(this,document.getElementById('round2-14-32'),document.getElementById('round3-7-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t14 round r32h6" id="round2-14-32" onclick="colc(this,document.getElementById('round2-13-32'),document.getElementById('round3-7-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t15 round r32h7" id="round2-15-32" onclick="colc(this,document.getElementById('round2-16-32'),document.getElementById('round3-8-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t16 round r32h8" id="round2-16-32" onclick="colc(this,document.getElementById('round2-15-32'),document.getElementById('round3-8-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s1 round r16h1" id="round3-1-32" onclick="colc(this,document.getElementById('round3-2-32'),document.getElementById('quarter1-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s2 round r16h2" id="round3-2-32" onclick="colc(this,document.getElementById('round3-1-32'),document.getElementById('quarter1-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s3 round r16h3" id="round3-3-32" onclick="colc(this,document.getElementById('round3-4-32'),document.getElementById('quarter2-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s4 round r16h4" id="round3-4-32" onclick="colc(this,document.getElementById('round3-3-32'),document.getElementById('quarter2-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s5 round r16h1" id="round3-5-32" onclick="colc(this,document.getElementById('round3-6-32'),document.getElementById('quarter3-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s6 round r16h2" id="round3-6-32" onclick="colc(this,document.getElementById('round3-5-32'),document.getElementById('quarter3-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s7 round r16h3" id="round3-7-32" onclick="colc(this,document.getElementById('round3-8-32'),document.getElementById('quarter4-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s8 round r16h4" id="round3-8-32" onclick="colc(this,document.getElementById('round3-7-32'),document.getElementById('quarter4-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q1 round qh1" id="quarter1-32" onclick="colc(this,document.getElementById('quarter2-32'),document.getElementById('semi1-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q2 round qh2" id="quarter2-32" onclick="colc(this,document.getElementById('quarter1-32'),document.getElementById('semi1-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q3 round qh1" id="quarter3-32" onclick="colc(this,document.getElementById('quarter4-32'),document.getElementById('semi2-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q4 round qh2" id="quarter4-32" onclick="colc(this,document.getElementById('quarter3-32'),document.getElementById('semi2-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sf1 round sfh1" id="semi1-32" onclick="colc(this,document.getElementById('semi2-32'),document.getElementById('final-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sf2 round sfh1" id="semi2-32" onclick="colc(this,document.getElementById('semi1-32'),document.getElementById('final-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="bin fin round sfh1" id="final-32" onclick="winner(this,document.getElementById('winnermessage32'))">
      <div class="namefield">

      </div>
    </div>
  </div>









  <div id="screen4" class="hidden">
    <div class="cent">
      <h2 style="color:white">64 Teams</h2>
      <input type='text' id='enternames64' value='' placeholder="team1 team2 team3..."><br><br>
      <button onclick='enterinput(0)'>Assign to Bracket</button>
      <button onclick='enterinput(1)'>Randomize Seeds</button><br><br>
      <div class="heading" id="winnermessage64">
        <h1></h1>
      </div>
    </div>
    <div class="box one" id="first" onclick="colc(this,document.getElementById('second'),document.getElementById('round2first'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box two" id="second" onclick="colc(this,document.getElementById('first'),document.getElementById('round2first'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box three" id="third" onclick="colc(this,document.getElementById('fourth'),document.getElementById('round2second'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box four" id="fourth" onclick="colc(this,document.getElementById('third'),document.getElementById('round2second'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box five" id="fifth" onclick="colc(this,document.getElementById('sixth'),document.getElementById('round2third'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box six" id="sixth" onclick="colc(this,document.getElementById('fifth'),document.getElementById('round2third'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box seven" id="seventh" onclick="colc(this,document.getElementById('eighth'),document.getElementById('round2fourth'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box eight" id="eighth" onclick="colc(this,document.getElementById('seventh'),document.getElementById('round2fourth'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box nine" id="ninth" onclick="colc(this,document.getElementById('tenth'),document.getElementById('round2fifth'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box ten" id="tenth" onclick="colc(this,document.getElementById('ninth'),document.getElementById('round2fifth'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box eleven" id="eleventh" onclick="colc(this,document.getElementById('twelfth'),document.getElementById('round2sixth'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twelve" id="twelfth" onclick="colc(this,document.getElementById('eleventh'),document.getElementById('round2sixth'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirteen" id="thirteenth" onclick="colc(this,document.getElementById('fourteenth'),document.getElementById('round2seventh'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fourteen" id="fourteenth" onclick="colc(this,document.getElementById('thirteenth'),document.getElementById('round2seventh'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fifteen" id="fifteenth" onclick="colc(this,document.getElementById('sixteenth'),document.getElementById('round2eighth'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sixteen" id="sixteenth" onclick="colc(this,document.getElementById('fifteenth'),document.getElementById('round2eighth'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box seventeen" id="seventeenth" onclick="colc(this,document.getElementById('eighteenth'),document.getElementById('round2ninth'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box eighteen" id="eighteenth" onclick="colc(this,document.getElementById('seventeenth'),document.getElementById('round2ninth'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box nineteen" id="nineteenth" onclick="colc(this,document.getElementById('twentieth'),document.getElementById('round2-10'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twenty" id="twentieth" onclick="colc(this,document.getElementById('nineteenth'),document.getElementById('round2-10'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentyone" id="twenty1" onclick="colc(this,document.getElementById('twenty2'),document.getElementById('round2-11'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentytwo" id="twenty2" onclick="colc(this,document.getElementById('twenty1'),document.getElementById('round2-11'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentythree" id="twenty3" onclick="colc(this,document.getElementById('twenty4'),document.getElementById('round2-12'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentyfour" id="twenty4" onclick="colc(this,document.getElementById('twenty3'),document.getElementById('round2-12'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentyfive" id="twenty5" onclick="colc(this,document.getElementById('twenty6'),document.getElementById('round2-13'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentysix" id="twenty6" onclick="colc(this,document.getElementById('twenty5'),document.getElementById('round2-13'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentyseven" id="twenty7" onclick="colc(this,document.getElementById('twenty8'),document.getElementById('round2-14'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentyeight" id="twenty8" onclick="colc(this,document.getElementById('twenty7'),document.getElementById('round2-14'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box twentynine" id="twenty9" onclick="colc(this,document.getElementById('thirty0'),document.getElementById('round2-15'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirty" id="thirty0" onclick="colc(this,document.getElementById('twenty9'),document.getElementById('round2-15'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirtyone" id="thirty1" onclick="colc(this,document.getElementById('thirty2'),document.getElementById('round2-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirtytwo" id="thirty2" onclick="colc(this,document.getElementById('thirty1'),document.getElementById('round2-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirtythree" id="thirty3" onclick="colc(this,document.getElementById('thirty4'),document.getElementById('round2-17'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirtyfour" id="thirty4" onclick="colc(this,document.getElementById('thirty3'),document.getElementById('round2-17'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirtyfive" id="thirty5" onclick="colc(this,document.getElementById('thirty6'),document.getElementById('round2-18'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirtysix" id="thirty6" onclick="colc(this,document.getElementById('thirty5'),document.getElementById('round2-18'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirtyseven" id="thirty7" onclick="colc(this,document.getElementById('thirty8'),document.getElementById('round2-19'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirtyeight" id="thirty8" onclick="colc(this,document.getElementById('thirty7'),document.getElementById('round2-19'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box thirtynine" id="thirty9" onclick="colc(this,document.getElementById('forty0'),document.getElementById('round2-20'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box forty" id="forty0" onclick="colc(this,document.getElementById('thirty9'),document.getElementById('round2-20'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fortyone" id="forty1" onclick="colc(this,document.getElementById('forty2'),document.getElementById('round2-21'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fortytwo" id="forty2" onclick="colc(this,document.getElementById('forty1'),document.getElementById('round2-21'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fortythree" id="forty3" onclick="colc(this,document.getElementById('forty4'),document.getElementById('round2-22'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fortyfour" id="forty4" onclick="colc(this,document.getElementById('forty3'),document.getElementById('round2-22'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fortyfive" id="forty5" onclick="colc(this,document.getElementById('forty6'),document.getElementById('round2-23'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fortysix" id="forty6" onclick="colc(this,document.getElementById('forty5'),document.getElementById('round2-23'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fortyseven" id="forty7" onclick="colc(this,document.getElementById('forty8'),document.getElementById('round2-24'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fortyeight" id="forty8" onclick="colc(this,document.getElementById('forty7'),document.getElementById('round2-24'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fortynine" id="forty9" onclick="colc(this,document.getElementById('fifty0'),document.getElementById('round2-25'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fifty" id="fifty0" onclick="colc(this,document.getElementById('forty9'),document.getElementById('round2-25'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fiftyone" id="fifty1" onclick="colc(this,document.getElementById('fifty2'),document.getElementById('round2-26'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fiftytwo" id="fifty2" onclick="colc(this,document.getElementById('fifty1'),document.getElementById('round2-26'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fiftythree" id="fifty3" onclick="colc(this,document.getElementById('fifty4'),document.getElementById('round2-27'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fiftyfour" id="fifty4" onclick="colc(this,document.getElementById('fifty3'),document.getElementById('round2-27'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fiftyfive" id="fifty5" onclick="colc(this,document.getElementById('fifty6'),document.getElementById('round2-28'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fiftysix" id="fifty6" onclick="colc(this,document.getElementById('fifty5'),document.getElementById('round2-28'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fiftyseven" id="fifty7" onclick="colc(this,document.getElementById('fifty8'),document.getElementById('round2-29'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fiftyeight" id="fifty8" onclick="colc(this,document.getElementById('fifty7'),document.getElementById('round2-29'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box fiftynine" id="fifty9" onclick="colc(this,document.getElementById('sixty0'),document.getElementById('round2-30'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sixty" id="sixty0" onclick="colc(this,document.getElementById('fifty9'),document.getElementById('round2-30'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sixtyone" id="sixty1" onclick="colc(this,document.getElementById('sixty2'),document.getElementById('round2-31'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sixtytwo" id="sixty2" onclick="colc(this,document.getElementById('sixty1'),document.getElementById('round2-31'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sixtythree" id="sixty3" onclick="colc(this,document.getElementById('sixty4'),document.getElementById('round2-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sixtyfour" id="sixty4" onclick="colc(this,document.getElementById('sixty3'),document.getElementById('round2-32'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t1 round r32h1" id="round2first" onclick="colc(this,document.getElementById('round2second'),document.getElementById('round3-1'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t2 round r32h2" id="round2second" onclick="colc(this,document.getElementById('round2first'),document.getElementById('round3-1'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t3 round r32h3" id="round2third" onclick="colc(this,document.getElementById('round2fourth'),document.getElementById('round3-2'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t4 round r32h4" id="round2fourth" onclick="colc(this,document.getElementById('round2third'),document.getElementById('round3-2'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t5 round r32h5" id="round2fifth" onclick="colc(this,document.getElementById('round2sixth'),document.getElementById('round3-3'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t6 round r32h6" id="round2sixth" onclick="colc(this,document.getElementById('round2fifth'),document.getElementById('round3-3'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t7 round r32h7" id="round2seventh" onclick="colc(this,document.getElementById('round2eighth'),document.getElementById('round3-4'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t8 round r32h8" id="round2eighth" onclick="colc(this,document.getElementById('round2seventh'),document.getElementById('round3-4'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t9 round r32h1" id="round2ninth" onclick="colc(this,document.getElementById('round2-10'),document.getElementById('round3-5'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t10 round r32h2" id="round2-10" onclick="colc(this,document.getElementById('round2ninth'),document.getElementById('round3-5'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t11 round r32h3" id="round2-11" onclick="colc(this,document.getElementById('round2-12'),document.getElementById('round3-6'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t12 round r32h4" id="round2-12" onclick="colc(this,document.getElementById('round2-11'),document.getElementById('round3-6'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t13 round r32h5" id="round2-13" onclick="colc(this,document.getElementById('round2-14'),document.getElementById('round3-7'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t14 round r32h6" id="round2-14" onclick="colc(this,document.getElementById('round2-13'),document.getElementById('round3-7'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t15 round r32h7" id="round2-15" onclick="colc(this,document.getElementById('round2-16'),document.getElementById('round3-8'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t16 round r32h8" id="round2-16" onclick="colc(this,document.getElementById('round2-15'),document.getElementById('round3-8'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t17 round r32h9" id="round2-17" onclick="colc(this,document.getElementById('round2-18'),document.getElementById('round3-9'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t18 round r32h10" id="round2-18" onclick="colc(this,document.getElementById('round2-17'),document.getElementById('round3-9'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t19 round r32h11" id="round2-19" onclick="colc(this,document.getElementById('round2-20'),document.getElementById('round3-10'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t20 round r32h12" id="round2-20" onclick="colc(this,document.getElementById('round2-19'),document.getElementById('round3-10'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t21 round r32h13" id="round2-21" onclick="colc(this,document.getElementById('round2-22'),document.getElementById('round3-11'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t22 round r32h14" id="round2-22" onclick="colc(this,document.getElementById('round2-21'),document.getElementById('round3-11'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t23 round r32h15" id="round2-23" onclick="colc(this,document.getElementById('round2-24'),document.getElementById('round3-12'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t24 round r32h16" id="round2-24" onclick="colc(this,document.getElementById('round2-23'),document.getElementById('round3-12'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t25 round r32h9" id="round2-25" onclick="colc(this,document.getElementById('round2-26'),document.getElementById('round3-13'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t26 round r32h10" id="round2-26" onclick="colc(this,document.getElementById('round2-25'),document.getElementById('round3-13'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t27 round r32h11" id="round2-27" onclick="colc(this,document.getElementById('round2-28'),document.getElementById('round3-14'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t28 round r32h12" id="round2-28" onclick="colc(this,document.getElementById('round2-27'),document.getElementById('round3-14'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t29 round r32h13" id="round2-29" onclick="colc(this,document.getElementById('round2-30'),document.getElementById('round3-15'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t30 round r32h14" id="round2-30" onclick="colc(this,document.getElementById('round2-29'),document.getElementById('round3-15'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t31 round r32h15" id="round2-31" onclick="colc(this,document.getElementById('round2-32'),document.getElementById('round3-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box t32 round r32h16" id="round2-32" onclick="colc(this,document.getElementById('round2-31'),document.getElementById('round3-16'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s1 round r16h1" id="round3-1" onclick="colc(this,document.getElementById('round3-2'),document.getElementById('quarter1'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s2 round r16h2" id="round3-2" onclick="colc(this,document.getElementById('round3-1'),document.getElementById('quarter1'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s3 round r16h3" id="round3-3" onclick="colc(this,document.getElementById('round3-4'),document.getElementById('quarter2'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s4 round r16h4" id="round3-4" onclick="colc(this,document.getElementById('round3-3'),document.getElementById('quarter2'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s5 round r16h1" id="round3-5" onclick="colc(this,document.getElementById('round3-6'),document.getElementById('quarter3'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s6 round r16h2" id="round3-6" onclick="colc(this,document.getElementById('round3-5'),document.getElementById('quarter3'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s7 round r16h3" id="round3-7" onclick="colc(this,document.getElementById('round3-8'),document.getElementById('quarter4'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s8 round r16h4" id="round3-8" onclick="colc(this,document.getElementById('round3-7'),document.getElementById('quarter4'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s9 round r16h5" id="round3-9" onclick="colc(this,document.getElementById('round3-10'),document.getElementById('quarter5'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s10 round r16h6" id="round3-10" onclick="colc(this,document.getElementById('round3-9'),document.getElementById('quarter5'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s11 round r16h7" id="round3-11" onclick="colc(this,document.getElementById('round3-12'),document.getElementById('quarter6'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s12 round r16h8" id="round3-12" onclick="colc(this,document.getElementById('round3-11'),document.getElementById('quarter6'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s13 round r16h5" id="round3-13" onclick="colc(this,document.getElementById('round3-14'),document.getElementById('quarter7'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s14 round r16h6" id="round3-14" onclick="colc(this,document.getElementById('round3-13'),document.getElementById('quarter7'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s15 round r16h7" id="round3-15" onclick="colc(this,document.getElementById('round3-16'),document.getElementById('quarter8'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box s16 round r16h8" id="round3-16" onclick="colc(this,document.getElementById('round3-15'),document.getElementById('quarter8'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q1 round qh1" id="quarter1" onclick="colc(this,document.getElementById('quarter2'),document.getElementById('semi1'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q2 round qh2" id="quarter2" onclick="colc(this,document.getElementById('quarter1'),document.getElementById('semi1'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q3 round qh1" id="quarter3" onclick="colc(this,document.getElementById('quarter4'),document.getElementById('semi2'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q4 round qh2" id="quarter4" onclick="colc(this,document.getElementById('quarter3'),document.getElementById('semi2'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q1 round qh3" id="quarter5" onclick="colc(this,document.getElementById('quarter6'),document.getElementById('semi3'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q2 round qh4" id="quarter6" onclick="colc(this,document.getElementById('quarter5'),document.getElementById('semi3'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q3 round qh3" id="quarter7" onclick="colc(this,document.getElementById('quarter8'),document.getElementById('semi4'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box q4 round qh4" id="quarter8" onclick="colc(this,document.getElementById('quarter7'),document.getElementById('semi4'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sf1 round sfh1" id="semi1" onclick="colc(this,document.getElementById('semi2'),document.getElementById('f1'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sf2 round sfh1" id="semi2" onclick="colc(this,document.getElementById('semi1'),document.getElementById('f1'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sf1 round sfh2" id="semi3" onclick="colc(this,document.getElementById('semi4'),document.getElementById('f2'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box sf2 round sfh2" id="semi4" onclick="colc(this,document.getElementById('semi3'),document.getElementById('f2'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box f1 round fh1" id="f1" onclick="colc(this,document.getElementById('f2'),document.getElementById('final'))">
      <div class="namefield">

      </div>
    </div>
    <div class="box f1 round fh2" id="f2" onclick="colc(this,document.getElementById('f1'),document.getElementById('final'))">
      <div class="namefield">

      </div>
    </div>
    <div class="bin fin round sfh1" id="final" onclick="winner(this,document.getElementById('winnermessage64'))">
      <div class="namefield">

      </div>
    </div>
  </div>







  <script src="{% static 'javascript/hide_screen.js' %}"></script>
  <script src="{% static 'javascript/into_bracs.js' %}"></script>
</body>
</html>