<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Feedback Form</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
</head>
<body>
    {% include 'common/navbar.html' %}
    <h1>Feedback</h1>
    <form method="post" action="{% url 'contact_form' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>