<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contact Me</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <style>
      .contact-heading{
          flex: 1;
          text-align: center;
      }
      .inner-image{
          flex: 1;
          justify-content: space-around;
      }
      .inner-image img{
          max-width: 80%;
          height: auto;
      }
      .contact-block{
          flex: 1;
          display: flex;
          background-color: gray;
          margin: 10px;
      }
      .block-row{
          display: flex;
          margin-left: 5px;
          margin-right: 5px;
      }
  </style>
</head>
<body>
{% include 'common/navbar.html' %}
    <h1 class="page-title">Contact Me</h1>
    <div class="block-row">
        <h3 class="contact-heading">GitHub</h3>
        <h3 class="contact-heading">LinkedIn</h3>
        <h3 class="contact-heading">Instagram</h3>
    </div>
    <div class="block-row">
        <div class="contact-block">
            <div class="inner-image">
                <img src="static/img/github-logo.png">
            </div>
            <div class="inner-image">
                <img src="static/img/github-profile.png">
            </div>
        </div>
        <div class="contact-block">
            <div class="inner-image">
                <img src="static/img/linkedin-logo.png">
            </div>
            <div class="inner-image">
                <img src="static/img/linkedin-profile.jpeg">
            </div>
        </div>
        <div class="contact-block">
            <div class="inner-image">
                <img src="static/img/instagram-logo.png">
            </div>
            <div class="inner-image">
                <img src="static/img/instagram-profile.jpeg">
            </div>
        </div>
    </div>
</body>
</html>