<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Education</title>
</head>
<body>
<h1>Education</h1>
{% load static %}
<h3>Undergraduate Degree - Cornell University</h3>
<img src="/static/img/cornelllogo.png" height=50% width=50% alt="Cornell Logo">
<p>
    I graduated from Cornell in 2020 with a BS in Mechanical Engineering. I always had a love for creating
    things which lead me to pursue a degree in engineering. At Cornell, I focused my studies mainly on areas
    related to product design and mechatronics, which were my two favorite areas of mechanical engineering.
</p>
<h3>Graduate Degree - New York University</h3>
<img src="/static/img/nyulogo.png" height=50% width=50% alt="NYU Logo">
<p>
    I am scheduled to graduate from NYU this coming spring (May 2023) and finish my MS in Computer Science. While at Cornell
    we had to take several courses in CS for our degree requirements, and although I wasn’t great at it at the time,
    I developed a liking for coding
</p>
</body>