<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jacinto's Website</title>
    <style>
        body {
            background-image: url("/static/img/homebackground.jpeg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: rgba(255,255,255,0.2);
            background-blend-mode: lighten;
        }
    </style>
</head>
<body>
<h1>Personal Website</h1>
    <a href="/education">Education</a><br>
    <a href="/work_experience">Work Experience</a><br>
    <a href="/projects">Projects</a><br>
    <a href="/goals">Goals</a><br>
    <a href="/contact">Contact Me</a><br>
    <a href="/help">Help</a><br>
</body>