<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jacinto's Website</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
    <style>
        body {
            background-image: url("/static/img/homebg2.jpeg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: rgba(255,255,255,0.1);
            background-blend-mode: lighten;
        }

    </style>
</head>
<body>
<div class="center">
<h1>Jacinto Gomez</h1>
    <div class="extern">
        <a class="linkbox" href="/about">About</a><br><br><br><br><br>
    </div>
    <div class="extern">
        <a class="linkbox" href="/education">Education</a><br><br><br><br><br>
    </div>
    <div class="extern">
        <a class="linkbox" href="/work_experience">Work Experience</a><br><br><br><br><br>
    </div>
    <div class="extern">
        <a class="linkbox" href="/projects">Projects</a><br><br><br><br><br>
    </div>
    <div class="extern">
        <a class="linkbox" href="/goals">Goals</a><br><br><br><br><br>
    </div>
    <div class="extern">
        <a class="linkbox" href="/contact">Contact Me</a><br><br><br><br><br>
    </div>
    <div class="extern">
        <a class="linkbox" href="/help">Help</a><br><br><br><br><br>
    </div>
</div>
</body>
</html>