<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Mechanical Engineering</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
</head>
<body>
<div class="center">
    <h1>Mechanical Engineering Projects</h1>
</div>
<div class="center">
    <h2>Virtual Reality Hexapod</h2>
    <img src="/static/img/rig1.jpeg" height=25% width=25% alt="Lab Device">
    <p>
        This is a virtual reality simulator that mimics the acceleration of gravity as well as movement visuals.
        The mouse is stationary on a spinning head bar and is on top of an omni-directional treadmill that records
        its rotations and movements. The screens respond with a visual replica of the appropriate movements and
        the entire apparatus is on a hexapod that simulates the acceleration of gravity for everything to feel
        more realistic. The goal of the mouse is to find a target projected on screen and navigate to it, at which
        point it will receive a juice reward from the spout in front of it.
    </p>
    <img src="/static/img/rig2.jpeg" height=25% width=25% alt="Lab Device">
    <img src="/static/img/rig3.jpeg" height=25% width=25% alt="Lab Device">
    <p><i>Hexapod base (left) and close-up view of treadmill and mouse holder (right)</i></p>
    <h2>Virtual Reality Training Rig</h2>
    <img src="/static/img/rig4.jpeg" height=25% width=25% alt="Lab Device">
    <p>
        This is designed to be a miniature version of the previous hexapod setup, for the purpose of training mice to
        use the system before being put into the larger and more complicated one. The system here was built to train
        the mouse to only move forward/backward, and become accustomed to receiving an award for hitting its movement
        target. It uses a custom designed mouse head holder that can be adjusted for the specific mouse height and
        body length.
    </p>
    <img src="/static/img/wire3.png" height=25% width=25% alt="Lab Device">
    <p><i>Wiring diagram for Arduino and X/Y motion sensors</i></p>
    <img src="/static/img/wire2.png" height=25% width=25% alt="Lab Device">
    <p><i>Wiring diagram for “juicer” mechanism using a MOSFET</i></p>
    <img src="/static/img/wire1.png" height=25% width=25% alt="Lab Device">
    <p><i>Alternative juicer wiring using high/low relay trigger</i></p>
    <h2>CAD Projects</h2>
    <h4>Rig Water Tower</h4>
    <p>Rounded part is covered with velcro that holds up a syringe with water in it, used for mouse training rigs.</p>
    <img src="/static/img/cad1.png" height=25% width=25% alt="Lab Device">
    <h4>Rig Adjustable Mouse Holder</h4>
    <p>Designed in pieces so that height and reach can be adjusted via sliding.</p>
    <img src="/static/img/cad2.png" height=25% width=25% alt="Lab Device">
    <img src="/static/img/cad3.png" height=25% width=25% alt="Lab Device">
    <img src="/static/img/cad4.png" height=25% width=25% alt="Lab Device">
    <img src="/static/img/cad5.png" height=25% width=25% alt="Lab Device">
    <h4>Projector Cradle</h4>
    <p>To hold the projectors into place on the virtual reality hexapods, I designed this simple cradle so no screws
        or attachments are needed. Design is split in half to accommodate the build volume of our printer. </p>
    <img src="/static/img/cad6.png" height=25% width=25% alt="Lab Device">
    <img src="/static/img/cad7.png" height=25% width=25% alt="Lab Device">
    <h4>Freely Moving Mouse Design 1</h4>
    <p>Left: Mirror holder - Infrared mirror is glued into place here and attached to main system with flexible wire</p>
    <p>Center: Main body - Camera holders slide into here</p>
    <p>Right: Camera holder - IR sensitive camera snaps into place here</p>
    <img src="/static/img/cad8.png" height=25% width=25% alt="Lab Device">
    <img src="/static/img/cad9.png" height=25% width=25% alt="Lab Device">
    <img src="/static/img/cad10.png" height=25% width=25% alt="Lab Device">
    <h4>Freely Moving Mouse Design 2</h4>
    <p>Left: Main body - Reach arms slide into here</p>
    <p>Center: Camera holder - Cameras snap into the circular part here, with wiring fed through the square hold in back</p>
    <p>Right: Reach arm - Detachable arm to create distance between camera and mouse eye for optimal focal distance</p>
    <img src="/static/img/cad11.png" height=25% width=25% alt="Lab Device">
    <img src="/static/img/cad12.png" height=25% width=25% alt="Lab Device">
    <img src="/static/img/cad13.png" height=25% width=25% alt="Lab Device">
    <h4>Freely Moving Mouse Design 3</h4>
    <p>Design was meant to decrease the amount of components by having the entire apparatus connect to the mouse in one piece.</p>
    <img src="/static/img/cad14.png" height=25% width=25% alt="Lab Device">
    <img src="/static/img/cad15.png" height=25% width=25% alt="Lab Device">
    <h4>Air Bearing Design</h4>
    <p>In the virtual reality hexapod we discussed the idea of an air bearing to decrease the friction when the mouse
        tries to rotate. Air is fed through the small hold in the left picture below to suspend the mouse holder in the
        right picture in the air</p>
    <img src="/static/img/cad16.png" height=25% width=25% alt="Lab Device">
</div>
</body>
</html>