<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Projects</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
</head>
<body>
{% include 'common/navbar.html' %}
<div class="center">
<h1 class="page-title">Projects</h1>
<h3>Click the red arrow to visit the GitHub Repository</h3>
<div class="extern">
        <a class="link-box" href="https://www.nycaccessiblestreets.ml/home/">NYC Accessible Streets</a>
        <a class="link-box" href="/sortingalgos">Algorithms</a>
        <a class="link-box" href="/battleship">Battleship</a>
    </div>
    <div class="extern">
        <a class="link-box" href="/bracktes">Bracket Maker</a>
        <a class="link-box" href="/nyual">Augmented Library</a>
        <a class="link-box" href="/palloc">Payment Allocator</a>
        <a class="link-box" href="/d3hatecrimes">FBI Hate Crimes</a>
    </div>
    <div class="extern">
        <a class="link-box" href="/about">Planet Birthdays</a>
        <a class="link-box" href="/d3aiddata">World Aid Data</a>
        <a class="link-box" href="/mechanical">Mechanical Engineering</a>
    </div>
</div>
</body>
</html>