<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Projects</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
    <style>
        a.link-box:hover{
            transform: scale(1.02);
        }
        img{
            height: 20px;
            width: auto;
        }
        img:hover{
            transform: scale(1.05);
        }
    </style>
</head>
<body>
{% include 'common/navbar.html' %}
    <h1 class="page-title">Projects</h1>
    <h3 style="text-align: center">Click the GitHub logo to visit the project's GitHub repository</h3>
    <div class="extern">
        <div class="git-contain">
            <a class="link-box" href="https://www.nycaccessiblestreets.ml/home/">NYC Accessible Streets</a>
            <a class="git-pin" href="https://github.com/jacintogomez/nycaccessiblestreets">
                <div class="git-half">
                    <img src="{% static 'img/github-logo.png' %}" alt="git logo">
                </div>
            </a>
        </div>
        <div class="git-contain">
            <a class="link-box" href="/sortingalgos">Algorithms</a>
            <a class="git-pin" href="https://github.com/jacintogomez/Algorithms_Online" target="_blank">
                <div class="git-half">
                    <img src="{% static 'img/github-logo.png' %}" alt="git logo">
                </div>
            </a>
        </div>
        <div class="git-contain">
            <a class="link-box" href="/battleship">Battleship</a>
            <a class="git-pin" href="https://github.com/jacintogomez/Intro-Java-Battleship" target="_blank">
                <div class="git-half">
                    <img src="{% static 'img/github-logo.png' %}" alt="git logo">
                </div>
            </a>
        </div>
    </div>
    <div class="extern">
        <div class="git-contain">
            <a class="link-box" href="/bracktes">Bracket Maker</a>
            <a class="git-pin" href="https://github.com/jacintogomez/Bracket-Maker" target="_blank">
                <div class="git-half">
                    <img src="{% static 'img/github-logo.png' %}" alt="git logo">
                </div>
            </a>
        </div>
        <div class="git-contain">
            <a class="link-box" href="/nyual">Augmented Library</a>
            <a class="git-pin" href="https://github.com/jacintogomez/NYU-Augmented-Library-Android" target="_blank">
                <div class="git-half">
                    <img src="{% static 'img/github-logo.png' %}" alt="git logo">
                </div>
            </a>
        </div>
        <div class="git-contain">
            <a class="link-box" href="/palloc">Payment Allocator</a>
            <a class="git-pin" href="https://github.com/jacintogomez/Cost-Allocator" target="_blank">
                <div class="git-half">
                    <img src="{% static 'img/github-logo.png' %}" alt="git logo">
                </div>
            </a>
        </div>
        <div class="git-contain">
            <a class="link-box" href="/d3hatecrimes">FBI Hate Crimes</a>
            <a class="git-pin" href="" target="_blank">
                <div class="git-half">
                    <img src="{% static 'img/github-logo.png' %}" alt="git logo">
                </div>
            </a>
        </div>
    </div>
    <div class="extern">
        <div class="git-contain">
            <a class="link-box" href="/about">Planet Birthdays</a>
            <a class="git-pin" href="" target="_blank">
                <div class="git-half">
                    <img src="{% static 'img/github-logo.png' %}" alt="git logo">
                </div>
            </a>
        </div>
        <div class="git-contain">
            <a class="link-box" href="/d3aiddata">World Aid Data</a>
            <a class="git-pin" href="" target="_blank">
                <div class="git-half">
                    <img src="{% static 'img/github-logo.png' %}" alt="git logo">
                </div>
            </a>
        </div>
        <div class="git-contain">
            <a class="link-box" href="">This Site</a>
            <a class="git-pin" href="https://github.com/jacintogomez/personal-website" target="_blank">
                <div class="git-half">
                    <img src="{% static 'img/github-logo.png' %}" alt="git logo">
                </div>
            </a>
        </div>
    </div>
</body>
</html>