<!DOCTYPE html>
{%  load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Software Engineering</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
</head>
<body>
<div class="center">
<h1>Software Engineering Projects</h1>
    <div class="extern">
        <a class="linkbox" href="https://www.nycaccessiblestreets.ml/home/">NYC Accessible Streets</a>
        <a class="linkbox" href="/sortingalgos">Sorting Algorithms</a>
        <a class="linkbox" href="/d3hatecrimes">FBI Hate Crimes</a>
    </div>
    <div class="extern">
        <a class="linkbox" href="/palloc">Payment Allocator</a>
        <a class="linkbox" href="/d3aiddata">World Aid Data</a>
    </div>
    <div class="extern">
        <a class="linkbox" href="/d3clarity">Clarity</a>
        <a class="linkbox" href="/d3color">Color</a>
    </div>
</div>
</body>
</html>