<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Thank You</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
    <link rel="shortcut icon" href="{%  static 'img/favicon.ico' %}">
</head>
<body>
    {% include 'common/navbar.html' %}
    <h1 class="page-title">Thank you for your feedback :)</h1>
    <h2 id="msg" style="text-align:center">redirecting to home in 5 seconds...</h2>
    <script>
        function countdown(t){
            let msg=document.getElementById('msg')
            if(t<1){
                window.location.href="/"
            }else{
                t--
                msg.textContent='redirecting to home in '+t+' seconds...'
                setTimeout(()=>countdown(t),1000)
            }
        }
        setTimeout(()=>countdown(5),1000)
    </script>
</body>
</html>