<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Work Experience</title>
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
    <style>
        img{
            height: 75px;
        }
        h2{
            text-align: center;
        }
        p{
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
        }
    </style>
</head>
<body>
{% include 'common/navbar.html' %}
<h1 class="page-title">Work Experience</h1>
<div class="job">
    <div class="picture-oval">
        <img src="/static/img/nyutandonlogo.png" alt="NYU Tandon Logo">
    </div>
    <div class="job-desc">
        <h2>Teaching Assistant - NYU Tandon School of Engineering</h2>
        <p>
            Head TA for the Tandon Bridge Computer Science Program 24 and 17 week cohorts. Additionally, I conduct weekly office
            hours, host review sessions for exams, and assist with grading of homework assignments and exams. The combined cohorts
            have about 300 students total, and topics taught in
            this program include discrete mathematics, C++ programming, probability & counting, data structures, sorting algorithms, big-O/runtime analysis, operating systems, and networking
        </p>
    </div>
</div>
<div class="job">
    <div class="picture-oval">
        <img src="/static/img/nyucnslogo.png" alt="NYU CNS Logo">
    </div>
    <div class="job-desc">
        <h2>Laboratory Engineer - NYU Center for Neural Science</h2>
        <p>
            Worked with postdoctoral researchers to design and build virtual reality experiments. Physically constructed
            virtual reality training rooms and edited software for the virtual environment display. Was additionally
            responsible for rapid prototyping of needed parts and repairs, and general lab maintenance.
        </p>
    </div>
</div>
<div class="job">
    <div class="picture-oval">
        <img src="/static/img/cornellengineeringlogo.png" alt="Cornell Engineering Logo">
    </div>
    <div class="job-desc">
        <h2>Product Design Engineer - Cornell Engineering</h2>
        <p>
            Created a portable document camera to address difficulties with Zoom screen sharing (a problem during
            the COVID-19 remote learning era), and designed social distancing dividers to help businesses and public spaces
            reopen safely. I conducted a choice-based conjoint analysis to find the most preferred attributes for these
            products, and identified structural weak points using Finite Element Analysis with ANSYS.
        </p>
        <h2>Laboratory Assistant - Cornell Fluid Mechanics Lab</h2>
        <p>
            Assisted Professors and PhD students studying aerodynamics. I partially constructed and maintained a
            circular testing apparatus to help test the affects of turbulence when subjected to rapidly changing pressures.
        </p>
        <h2>Teaching Assistant - Cornell Physics Department</h2>
        <p>
            Taught classes of up to 20 students in introductory-level physics courses, such as Heat & Mechanics and
            Electricity & Magnetism. Additionally taught physics for life-sciences students, adapting complex topics to be more
            understandable for students who had no prior physics background. Also led laboratory experiments with
            students, assisted with any problems or equipment troubleshooting, and trained students to use standard physics
            laboratory equipment.
        </p>
    </div>
</div>
<div class="job">
    <div class="picture-oval">
        <img src="/static/img/rdalogo.png" alt="RDA Logo">
    </div>
    <div class="job-desc">
        <h2>Consulting Engineer Intern - Robert Derector Associates</h2>
        <p>
            Designed and edited HVAC duct systems using Autodesk AutoCAD and Revit. Worked on approximately 6
            projects per week and assisted in data collection for on-site inspections.
        </p>
    </div>
</div>
<div class="job">
    <div class="picture-oval">
        <img src="/static/img/lifeguardlogo.jpeg" alt="Lifeguard Logo">
    </div>
    <div class="job-desc">
        <h2>Lifeguard - Rolling Hills Condominiums/Brookshire Condominiums/Newburgh YWCA</h2>
        <p>
            Served several years as a lifeguard for various pool locations across the Hudson Valley area. Performed standard lifeguard tasks such as watching over pool patrons, maintaining pool deck
            cleanliness, and ensuring that safety equipment is up-to-date.
        </p>
    </div>
</div>
<div class="job">
    <div class="picture-oval">
        <img src="/static/img/washingtonvillelogo.jpg" alt="Washingtonville Logo">
    </div>
    <div class="job-desc">
        <h2>Swimming Instructor: Washingtonville Seahawks</h2>
        <p>
            Instructed elementary school aged children in different swimming techniques; either strokes or beginner water
            techniques like floating/treading water, depending on their competency.
        </p>
    </div>
</div>
</body>
</html>