<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Color with JavaScript D3</title>
</head>
<body>
<div id="observablehq-7a75d36c"></div>
<p>Credit: <a href="https://observablehq.com/d/2bdd68a85cc92f0f">Color - Exercise by Jacinto Gomez</a></p>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@5/dist/inspector.css">
<script type="module">
import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
import define from "https://api.observablehq.com/d/2bdd68a85cc92f0f.js?v=3";
new Runtime().module(define, Inspector.into("#observablehq-7a75d36c"));
</script>
</body>
</html>