<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Clarity Exercise</title>
</head>
<body>
<div id="observablehq-29300ccc"></div>
<p>Credit: <a href="https://observablehq.com/d/3f0742f7dde287cc">Analysis of FBI Recorded Hate Crimes by Jacinto Gomez</a></p>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@observablehq/inspector@5/dist/inspector.css">
<script type="module">
import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@5/dist/runtime.js";
import define from "https://api.observablehq.com/d/3f0742f7dde287cc.js?v=3";
new Runtime().module(define, Inspector.into("#observablehq-29300ccc"));
</script>
</body>
</html>