.center{
    text-align: center;
}
a.linkbox{
    border-style: solid;
    border-color: gray;
    background-color: gray;
    display: inline-block;
    width: 200px;
    padding: 25px 200px 25px 200px;
    border-radius: 5px;
    text-align: center;
    position: center;
    color: black;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    border-color: yellow;
    color: yellow;
}
.extern {
    padding-bottom: 25px;
    padding-top: 25px;
}