.center{
    text-align: center;
}
.right{
    text-align: right;
}
a.linkbox{
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background-color: black;
    display: inline-block;
    width: 200px;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    position: center;
    color: white;
    font-size: 20px;
    text-decoration: none;
    line-height: 100px;
    margin: 25px;
    transition: border-color 0.3s;
}
a:hover{
    border-color: black;
    color: white;
}
.extern {
    text-align: center;
    padding: 0px 0px;
}
.pictureoval{
    border-style: solid;
    border-color: black;
    background-color: white;
    display: inline-block;
    width: 200px;
    padding: 50px 200px 50px 200px;
    border-radius: 60px;
    position: center;
    text-align: center;
}