.box{
  width: 200px;
  height: 25px;
  background: blueviolet;
  border-radius: 10px;
  position: absolute;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  white-space: nowrap;
}
.bin{
  width: 200px;
  height: 50px;
  background: blueviolet;
  border-radius: 15px;
  position: absolute;
  display: inline-block;
  float: left;
  margin-bottom: 20px;
  border: 4px solid yellow;
}
.box.one{
  margin-top: 10px;
}
.box.two{
  margin-top: 46px;
}
.box.three{
  margin-top: 82px;
}
.box.four{
  margin-top: 118px;
}
.box.five{
  margin-top: 154px;
}
.box.six{
  margin-top: 190px;
}
.box.seven{
  margin-top: 226px;
}
.box.eight{
  margin-top: 262px;
}
.box.nine{
  margin-top: 298px;
}
.box.ten{
  margin-top: 334px;
}
.box.eleven{
  margin-top: 370px;
}
.box.twelve{
  margin-top: 406px;
}
.box.thirteen{
  margin-top: 442px;
}
.box.fourteen{
  margin-top: 478px;
}
.box.fifteen{
  margin-top: 514px;
}
.box.sixteen{
  margin-top: 550px;
}

.box.t1{
  margin-top: 46px;
  margin-left: 250px;
}
.box.t2{
  margin-top: 82px;
  margin-left: 250px;
}
.box.t3{
  margin-top: 46px;
  margin-left: 250px;
}
.box.t4{
  margin-top: 82px;
  margin-left: 250px;
}
.box.t5{
  margin-top: 46px;
  margin-left: 250px;
}
.box.t6{
  margin-top: 82px;
  margin-left: 250px;
}
.box.t7{
  margin-top: 46px;
  margin-left: 250px;
}
.box.t8{
  margin-top: 46px;
  margin-left: 250px;
}

.box.s1{
  margin-top: 66px;
  margin-left: 500px;
}
.box.s2{
  margin-top: 66px;
  margin-left: 500px;
}
.box.s3{
  margin-top: 66px;
  margin-left: 500px;
}
.box.s4{
  margin-top: 66px;
  margin-left: 500px;
}

.box.q1{
  margin-top: 66px;
  margin-left: 750px;
}
.box.q2{
  margin-top: 66px;
  margin-left: 750px;
}

.bin.fin{
  margin-top: 260px;
  margin-left: 1000px;
}
.namefield {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.box.round{
  float: left;
}
.box.r32h1{
  margin-top: 25px;
}
.box.r32h2{
  margin-top: 97px;
}
.box.r32h3{
  margin-top: 169px;
}
.box.r32h4{
  margin-top: 241px;
}
.box.r32h5{
  margin-top: 313px;
}
.box.r32h6{
  margin-top: 385px;
}
.box.r32h7{
  margin-top: 457px;
}
.box.r32h8{
  margin-top: 529px;
}
.box.r16h1{
  margin-top: 61px;
}
.box.r16h2{
  margin-top: 205px;
}
.box.r16h3{
  margin-top: 349px;
}
.box.r16h4{
  margin-top: 493px;
}
.box.qh1{
  margin-top: 133px;
}
.box.qh2{
  margin-top: 421px;
}