<style>
    .right-margin{margin-right: 10px;}
    .navbar{border-radius: 0;}
</style>
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="nav-brand" href="/">Jacinto Gomez</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="nav-list" href="/education">Education</a></li>
            <li><a class="nav-list" href="/workexperience">Work Experience</a></li>
            <li><a class="nav-list" href="/about">About</a></li>
            <li><a class="nav-list" href="/contact">Contact Me</a></li>
        </ul>
    </div>
</nav>